.alert-pica {
    background: #0b96bf;
    color: white;
    padding: 20px;
    width: 450px;
    height: 57px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    text-align: center;
    margin: auto;
    position: relative;
    top: -30px;
}

a.undo-alert-pica
{
    color:white;
    text-decoration: underline;

}