header{
.dropdown{
	.mega-menu{
		left:0;
		@media (min-width: $screen-md-min) {
			width: 940px;
		}
		@media (min-width: $screen-lg-min) {
			width: 1140px;
		}
		min-height: 200px;
    align-items:normal;
		width:auto;
		display:none;
		max-width: inherit;
		color: $color-white;
		.display-mandatory{
			display:block;
		}
		li.mega-menu-column{
			width: 100%;
			ul{
                width:100%;
                align-items:normal;
                display: block;
				li{
                    font-weight: normal;
					font-size:1.2rem;
					float:left;
					width: auto;
					display: block;
					list-style-type: none;
					padding-bottom:5px;
					
					a{
						word-break:normal;
						font-weight:normal;
						font-size:1.2rem;
						text-transform: capitalize;
						cursor: pointer;
						line-height: 20px;
					}
					a:hover,a:active{
						text-decoration:none;
						color:#a8a9a9 
						   // text-decoration: underline;
							//color:$primary-red;
					}
                }
                li.nav-header{
                    font-weight: bold;
					font-size:1.2rem;
					padding-bottom:10px !important;
					width:100% !important;
					font-family: $fontFamily-Gotham;
					text-transform:uppercase;
                }
			}
		}
	}
}
	ul.navbar-right{		
		li:nth-child(3){
			a{
				padding-top: 4px;
				width:19px;
			}
		}
		li:nth-child(4){
			a{
				padding-top: 4px;
			}
		}
	}
}

.hide-mandatory{
	display:none !important;
}
.display-mandatory{
	display:flex !important;
}
.glyphicon-triangle-top{
	display:none;
}
#portlet_Broadcom_Navigation{
	.portlet-content{
		padding:0px;
	}
}
