#idAccessDeniedScreen{
    .secondary-gray{
        color: $secondary-gray-light;
    }
    .forbidden-header{
        font-size: 45px;
    }
    .forbidden-sub-header{
        font-size: 22px;
    }
}