.broadcasting{
p{
color:$color-blue;
margin-left:13px;
font-size:10px;
}
}

#findRecipients{

margin-bottom:41px;
margin-top:12px;

}

.broadcasting-align{
h6{
margin-left:12px;
}

h1{
margin-left:12px;
}
}
.broadcasting-button-align{

margin-top:60px;
margin-bottom:60px;
}