.top-paragraph-align {
	margin-top:-20px;
	margin-bottom:20px;
	}

.doc-removal-label-align{
margin-left:-15px;	
}

.edit-information-button-align{
	padding-left:12px;
	
	}

.edit-users-button-align{
	margin-left:12px;
}