.manage-customer-account-legend-align {
margin-right:45px;
}


.manage-customer-account-pagination-align{
margin-right:45px;
}


.manage-customer-account-label{
margin-left:10px;
font-size:10px;
color: $color-blue;

}

