// To overwrite Liferay 7.2 base styles as per our page requirements


//portlet changes START
.portlet-boundary{
  clear: both;
}
//portlet changes END

// Base styels START
body.override-clay-theme, footer{
  font-size: 1.2rem;
  line-height: 1.42857;
}
button.btn{
  border:none;
}
.text-red{
  color: $primary-red !important;
}
// Override clay theme START
.override-clay-theme{
  @mixin maring-and-padding-spacing( $spacing) {
    @for $i from 0 to 12 {
        // Margin
        %margin-#{$i}x {
            margin: $spacing * $i;
        }
        %margin-top-#{$i}x,
        %margin-vertical-#{$i}x {
            margin-top: $spacing * $i;
        }
        %margin-bottom-#{$i}x,
        %margin-vertical-#{$i}x {
            margin-bottom: $spacing * $i;
        }
        %margin-left-#{$i}x,
        %margin-horizontal-#{$i}x {
            margin-left: $spacing * $i;
        }
        %margin-right-#{$i}x,
        %margin-horizontal-#{$i}x {
            margin-right: $spacing * $i;
        } // Padding
        %padding-#{$i}x {
            padding: $spacing * $i;
        }
        %padding-top-#{$i}x,
        %padding-vertical-#{$i}x {
            padding-top: $spacing * $i;
        }
        %padding-bottom-#{$i}x,
        %padding-vertical-#{$i}x {
            padding-bottom: $spacing * $i;
        }
        %padding-left-#{$i}x,
        %padding-horizontal-#{$i}x {
            padding-left: $spacing * $i;
        }
        %padding-right-#{$i}x,
        %padding-horizontal-#{$i}x {
            padding-right: $spacing * $i;
        }
    }
  }
  $spacing: 4px;
  @include maring-and-padding-spacing($spacing);
  .m0-left{
    @extend %margin-left-0x;
  }
  .m0-right{
    @extend %margin-right-0x;
  }
  .margin-4x{
    @extend %margin-4x;
  }
  .margin-0x{
    @extend %margin-0x;
  }
  .m1-bottom{
    @extend %margin-bottom-1x;
  }
  .m2-bottom{
    @extend %margin-bottom-2x;
  }
  .m3-bottom{
    @extend %margin-bottom-3x;
  }
  .m4-bottom{
    @extend %margin-bottom-4x;
  }
  .m5-bottom {
    @extend %margin-bottom-5x;
  }
  .m6-bottom{
    @extend %margin-bottom-6x;
  }
  .m8-left{
    @extend %margin-left-8x;
  }
  .m0-top{
    @extend %margin-top-0x;    
  }
  .m2-top{
    @extend %margin-top-2x;
  }
  .m3-top{
    @extend %margin-top-3x;
  }
  .m4-top{
    @extend %margin-top-4x;
  }
  .m1-top{
    @extend %margin-top-1x;
  }
  .m6-top{
    @extend %margin-top-6x;
  }
  .m8-top{
    @extend %margin-top-8x;
  }
  .m2-left{
    @extend %margin-left-2x;
  }
  .m1-left{
    @extend %margin-left-1x;
  }
  .m0-left {
    @extend %margin-left-0x;
  }
  .m0-right{
    @extend %margin-right-0x;
  }
  .m4-right{
    @extend %margin-right-4x;
  }
  .m2-right{
    @extend %margin-right-2x;
  }
  .margin-vertical-4x{
    @extend %margin-vertical-4x;
  }
  .margin-horizontal-10x{
    @extend %margin-horizontal-10x;
  }
  .margin-left-3x{
    @extend %margin-left-3x;
  }
  .margin-left-2x{
    @extend %margin-left-2x;
  }
  .margin-left-4x{
    @extend %margin-left-4x;
  }
  .margin-left-5x{
    @extend %margin-left-5x;
  }
  .margin-top-6x{
    @extend %margin-top-6x;
  }
  .margin-top-8x{
    @extend %margin-top-8x;
  }
  .margin-top-3x{
    @extend %margin-top-6x;
  }
  .pad-0{
    padding: 0;
  }

  h1,.h1{font-size:2.4rem}
  h1.red,.h1.red{color:$primary-red}
  h2,.h2{font-size:2rem}
  h2.red,.h2.red{color:$primary-red}
  h2.display-inline,.h2.display-inline{display:inline}
  h3,.h3{font-size:1.6rem;margin:20px 0 20px 0}
  h3{font-size: 27px;color: white;}
  h3.red,.h3.red{color:$primary-red}
  h3.black,.h3.black{color:$primary-black}
  input.form-control,select.form-control,button.form-control,textarea.form-control{border-radius:2px}
  input.parsley-error,select.parsley-error,button.parsley-error,textarea.parsley-error{border:1px solid $secondary-red}

  .box-border-blue{ border: 1px solid $color-blue; }
  .checkbox label, .radio label{ padding-left:0; }

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline:none;
    box-shadow:none;
  }
  .btn{ padding: 6px 24px; }
  .btn.btn-multi-select{ 
    padding-right: 14px;
    padding-left: 14px;
  }
  .btn.btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: $primary-red;
    border: 1px solid $primary-red;
    box-shadow: none;
    outline:none;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled):active:focus{
    opacity: 0.7;
  }
  .btn.btn-search{
    color: $color-white;
  }

  .row,
  .form-horizontal > .form-group,
  .navbar .container,
  .navbar .container-fluid{
    display: block;
    flex-wrap: inherit;
  }
  .row [class*="col-"]{ }

  select.form-control:not([multiple]):not([size]), 
  .form-control-select{
    background-image: none;
    -webkit-appearance: listbox;
  }
  .selectdiv select.form-control:not([multiple]):not([size]), 
  .selectdiv .form-control-select{
    -webkit-appearance: none;
  }
  @media (min-width: 1280px){
    .document-access-enquiry-container.container {
      width: 100%;
      padding: 0 55px;
      max-width: 100%;
    }
  }

  .table>thead tr td:first-child>.checkbox, 
  .table>thead tr td:first-child>input[type="checkbox"], 
  .table>tbody tr td:first-child>.checkbox, 
  .table>tbody tr td:first-child>input[type="checkbox"], 
  .table>tfoot tr td:first-child>.checkbox, 
  .table>tfoot tr td:first-child>input[type="checkbox"]{
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (min-width: 992px){
    .col-md-offset-12 { margin-left: 100% !important; }
    .col-md-offset-11 { margin-left: 91.66666667% !important; }
    .col-md-offset-10 { margin-left: 83.33333333% !important; }
    .col-md-offset-9 { margin-left: 75% !important; }
    .col-md-offset-8 { margin-left: 66.66666667% !important; }
    .col-md-offset-7 { margin-left: 58.33333333% !important; }
    .col-md-offset-6 { margin-left: 50% !important; }
    .col-md-offset-5 { margin-left: 41.66666667% !important; }
    .col-md-offset-4 { margin-left: 33.33333333% !important; }
    .col-md-offset-3 { margin-left: 25% !important; }
    .col-md-offset-2 { margin-left: 16.66666667% !important; }
    .col-md-offset-1 { margin-left: 8.33333333% !important; }
    .col-md-offset-0 { margin-left: 0% !important; }
  }

  @media (min-width: 1280px){
    .container {
      width: 100%;
      max-width: 100%;
      padding: 0 55px;
    }
  }

  .margin-0x{margin:0}
  .m0-top{margin-top:0}
  .m0-left{margin-left:0}
  .m0-right{margin-right:0}
  .padding-right-0x{
    padding-right: 0;
  }
  .padding-left-0x{
    padding-left: 0;
  }
  
  .panel-default>.panel-heading{
    padding: 0;
  }
  .panel-default .panel-title{
    font-size: 1em;
  }
  .panel-default .panel-title a{
    padding: 10px 15px;
    display: block;
  }

  .view-role-tab.visibility-none{
    display: none;
  }
  .visibility-none{
    display: none !important;
  }
  .modal{
    top: 25%;
  }

  .nav-pills.nav-wizard > li.active a {
    background-color: $color-blue;
  }
  .no-border{
    border:none;
  }
  .navbar-right{
    border-bottom: transparent;
    margin-right: 4px;
  }

  .popover>.arrow:after{
    border-width: 10px;
  }
  .popover.bottom>.arrow:after{
    border-top-width: 0;
  }
  .popover.bottom > .arrow::before{
    border-width: 0;
  }
  .popover .popover-title{
    margin: 0;
  }

  #tree-section.tree-section .nav-tabs>li>a.tab-links{
    font-size: 1.2rem;
    border: 1px solid $primary-red;
    border-radius: 0;
    margin-right: 0;
    padding: 10px 0;
    color: $primary-red;
  }
  #tree-section.tree-section .nav-tabs>li>a.tab-links.division-link{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #tree-section.tree-section .nav-tabs>li>a.tab-links.search-link{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  #tree-section.tree-section .nav-tabs>li.active>a.tab-links, 
  #tree-section.tree-section .nav-tabs>li.active>a.tab-links:focus, 
  #tree-section.tree-section .nav-tabs>li.active>a.tab-links:hover{
    color: $color-white;
    cursor: default;
    background-color: $primary-red;
    word-wrap: normal;
  }

  #document-management .doc-product-finder{
    .nav-tabs>li.active{
      a:focus,
      a:hover{
        background-color: $primary-red;
        border-color: $primary-red;
        color: $color-white;
        border-bottom-color: $primary-red;
      }
    }
  }

}
// Override clay theme END
//Base styles END

// Header styles START
.brdcm-standard-header .brdcm-header-top .brdcm-navigation-primary .brdcm-primary-nav-container .brdcm-primary-nav-links-wrapper .brdcm-primary-nav-links{
  flex-direction: inherit;
  li > a{
    padding: 4px 15px;
  }
}
.searchComp #searchBox::-webkit-input-placeholder {
  color: $primary-black;
}
.searchComp #searchBox:-ms-input-placeholder {
  color: $primary-black;
}
.searchComp #searchBox::placeholder {
  color: $primary-black;
}
// Header styles END


// Navbar styles START
@media (min-width: 1280px){
  header nav.navbar-inverse .container{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0 55px;
  }
}
header .navbar-collapse .navbar-nav .dropdown.open a[aria-expanded="false"]{
  margin-top:1px;
}
// Navbar styles END

//Navigation START
.navbar-nav>li>.dropdown-menu.mega-menu{
  margin-top:14px;
}
.navbar-nav>li>.dropdown-menu.mega-menu.show{
  display:flex !important;
}
.portlet-layout .portlet-header{
  margin-bottom: 0;
}
//Navigation END

//docSAFE: downloads landing START
#content.container{
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0 55px;
}
.downloads-landing .search-options{
  .advance-search-section{
    margin-left: 25% !important;
    font-size: 1.2rem;
    line-height: 1.42857;
  }
}
.search-downloads{
  .advanced-search .basic-search{
    padding: 7px 15px;
  }
  button#searchDownloads{
    padding: 6px 24px;
  }
  .table-downloads tr th{
    background: transparent;
    color: $color-white;
  }
}
.filters-searchdownloads .checkbox > label,
td.column-check .checkbox > label{
  padding-left: 0;
}
.override-clay-theme{
  .heading-title{
    font-size: 27px;
  }
}
body.override-clay-theme > .dropdown.inline.multi-dropdown-container{
  display:none;
}
.downloads-landing .my-downloads .sub-menu.dropdown-menu .list-style-none{
  float: left;
  width: 100%;
}
div#myModalTest .modal-header #modal-title{
  flex-grow: 1;
}
//docSAFE: downloads landing END

//docSAFE: catalog START
.document-access-enquiry-container .col-md-offset-4{
  margin-left: 33.33333333% !important;
}
//docSAFE: catalog END

//docSAFE: docsafe/administration START
#idPendingNDARequest{
  .typeahead__field input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
  }
}
.datagrid table thead tr th{
  background:transparent;
  color: $color-white;
}
.pagination-wrapper .custom-pagination{
  font-size: 1.2rem;
}

section#content{
  .nav{ display:block; }
  .nav-tabs>li>a{
    border-color: $secondary-gray-light;
    border-bottom-color: $secondary-gray-light;
    border-radius: 0;
    padding: 4px 15px;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover{
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;
    border-bottom-color: $color-blue;
  }
}

#editPromo{
  >.row{
    margin-left: 10px;
    margin-right: 10px;
    >.panel{
      width: 100%;
    }
  }
}
#userPromo,
#editPromo{
  >.row{
    margin-left: 10px;
    margin-right: 10px;
  }
}
#typeahead-container .typeahead__query input[type='text']{
  height: 34px;
}
//docSAFE: docsafe/administration END

//docSAFE: Software/File delivery START
.master-grid table thead tr th{
  background-color: transparent;
  color: $color-white;
}
.software-file-group .software-file-group-tabs .nav-tabs{
  & > li > a{
    color: $color-blue;
  }
  & > li.active > a{
    color: $color-white;
  }
}
.override-clay-theme .productconfiguration .showalldetails {
  border: 1px solid $primary-red;
  background-color: $color-white;
  color: $primary-red;
}
//docSAFE: Software/File delivery END


//docSAFE: Usage & Access START
.override-clay-theme .permission-downloads-wrapper .filter-style{
  margin-left: 210px !important;
}
.access-report-by-product .filter-wrap label{
  white-space: nowrap;
}
//docSAFE: Usage & Access END

//docSAFE: Request & Approval START
.docforexisitnguser .search-mirror #typeahead-user-button{
  height:34px;
}
#documentRemoval ul.nav{ display:block; }
#frm-new-auto-approvals-prd .control-label.required{ white-space: nowrap; }
#findProgram h3,
.request-approval-breadcrumbs h3{font-size: 27px;}
.programInformation .editScreen .multi-select .col-md-1{ max-width: inherit; }
//docSAFE: Request & Approval END

//docSAFE: Administration START
.pagination-wrapper .custom-pagination .gird-custom-pagination ul li:last-child{
  padding-right: 0;
}
.module-dm-tools.container{
  padding: 0;
}
//docSAFE: Administration END

//Master: Administration START
.override-clay-theme .accountmanagementedit .editacount-users{
  padding-right: 0;
}
//Master: Administration END