#idRestrictFileControl{
    .file-control-header{
        font-size: $fontSize-medium;
        font-weight: bold;
    }
    #restrict-file-serach{
        .form-group.inline .input-wrapper{
            width:100%;
        }
    }
    .table-overflow{
        overflow-y: scroll;
    }
    #removeRetrictionBar button{
            padding: 0;
            border: 0;
            margin: 0;
            background: 0;
        }
}