user-register-font{
    font-size:200%;
}

#user-register-glyphicon{
    float: right;
    top: -25px;
    left: 19px;
    color: $color-blue;
    display: block !important;
    cursor: pointer; 
}
.user-register{
  
dl dt {
    float: left;
    width: 15%;
    margin: 0px;
    padding: 0 5px;
    box-sizing: border-box;
}
.btn.btn-cancel {
    margin-left:12px;
    margin-right:12px;
}
}


.user-register-svg{
    color:$color-blue;
}.user-register-font{
    font-size:200%;
}

#user-register-glyphicon{
    float: right;
    top: -25px;
    left: 19px;
    color: $color-blue;
    display: block !important;
    cursor: pointer; 
}
.user-register{
  
dl dt {
    float: left;
    width: 15%;
    margin: 0px;
    padding: 0 5px;
    box-sizing: border-box;
}
.btn.btn-cancel {
    margin-left:12px;
    margin-right:12px;
}
}


.user-register-svg{
    color:$color-blue;
}
#notificationModal{
    .modal-dialog{
        height:424px ;
         width:1000px;
     margin-left: -140px !important;		 
    }
	.modal-dialog {
    position: inherit;
    margin: 0 auto;
}
}


.user-registration-list-scrollable{
.list-scrollable select{

    width: 61%;
    overflow: auto;
    padding: 4px;
    float: right;
}

}
